<h1 class="title">Ellie Smith - Art Teacher</h1>
<p class="info">This website lists the main artists used in school to deliver the skills and understanding required to achieve good GCSE, A level and BTEC passes</p>
<img class="info-image" src="http://www.highburygrove.cola.org.uk/media/images/user-uploads/original/61C660C9-F5D2-E896-FB3FBF54D0EEAF7F.jpg"/>
